@using Microsoft.AspNetCore.Routing
@model WebChatSignalr.ViewModels.ChatViewModel

@{
    ViewBag.Title = "Chat";
    Layout = "_Layout";
    var routeId = Context.GetRouteData().Values["id"]?.ToString() ?? "";
}
<div class="row">
<div class="chat-sidebar col-md-3 overflow-auto">
    <div class="">
        <form class="mb-2">
            <div class="input-group">
                <input type="text" class="form-control form-control" placeholder="Search for users..." aria-label="Search for users...">
                <div class="input-group-append">
                    <button class="btn btn-search-ico bg-white" type="submit">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                        </svg>
                    </button>
                </div>
            </div>
        </form>
        <div class="user-list">

            <ul class="list-group">
                @foreach (var room in Model.Rooms)
                {
                    <a asp-controller="Chat" asp-action="Index" asp-route-id="@room.Sender.Id" class="list-group-item list-group-item-action user-link @(routeId.Equals(room.Sender.Id.ToString())?"active text-white":"")">

                        <div class="media">
                            <div class="profile-avatar mr-2">
                                <img class="avatar-img" src="@room.Sender.Avatar" alt="@room.Sender.Name">
                            </div>

                            <div class="media-body overflow-hidden">
                                <div class="d-flex mb-1">
                                    <h6 class="text-truncate mb-0 mr-auto username">@room.Sender.Name</h6>
                                    <p class="small text-nowrap ml-4">@room.UpdatedDate.ToShortTimeString()</p>
                                </div>
                                <div class="text-truncate">@room.Excerpt</div>
                            </div>
                        </div>
                        @if (room.UnreadCount>0)
                        {
                            <div class="badge badge-circle badge-primary badge-border-light badge-top-right">
                                <span>@room.UnreadCount</span>
                            </div>
                        }
                    </a>
                }
            </ul>
        </div>
    </div>

</div>

    @if (!string.IsNullOrEmpty(routeId))
    {
        <div class="chat-area col-md-7 px-1">
            <div class="border p-1 box-shadow">
                <div class="media">
                    <div class="profile-avatar mr-2">
                        <img class="avatar-img" src="@Model.Conversation.Sender.Avatar" alt="@Model.Conversation.Sender.Name">
                    </div>
                    <div class="media-body">
                        <div class="d-flex mb-1">
                            <h6 class="text-truncate mb-0 mr-auto">@Model.Conversation.Sender.Name</h6>
                            <input type="hidden" asp-for="Conversation.Sender.Id" />
                            <input type="hidden" asp-for="Conversation.Sender.Name" />
                            <input type="hidden" asp-for="Conversation.Sender.Avatar" />
                            <input type="hidden" asp-for="Conversation.Recipient.Id" />
                            <input type="hidden" asp-for="Conversation.Recipient.Name" />
                            <input type="hidden" asp-for="Conversation.Recipient.Avatar" />
                            <div class="dropdown">
                                <a class="btn dropdown-toggle" type="button" id="chatdrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                </a>
                                <div class="dropdown-menu" aria-labelledby="chatdrop">
                                    <a class="dropdown-item" href="#">🗑️ Delete Chat</a>
                                    <a class="dropdown-item" href="#">🚫 Block User</a>
                                    <a class="dropdown-item" href="#">☣️ Report User</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat-box overflow-auto bg-white d-flex flex-column-reverse">
                <ul id="messagesList" class="list-unstyled">
                    @foreach (var message in Model.Conversation.Messages)
                    {
                        @if (Model.Conversation.Sender.Id == message.SenderId)
                        {
                            <li>
                                <div class="media p-2">
                                    <div class="profile-avatar mr-2">
                                        <img class="avatar-img" src="@Model.Conversation.Sender.Avatar" alt="@Model.Conversation.Sender.Name">
                                    </div>

                                    <div class="media-body overflow-hidden">
                                        <div class="d-flex mb-1">
                                            <h6 class="text-truncate mb-0 mr-auto">@Model.Conversation.Sender.Name</h6>
                                            <p class="small text-muted text-nowrap ml-4">@message.Timestamp</p>
                                        </div>
                                        <div class="text-wrap text-break">@message.Content</div>
                                    </div>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li>
                                <div class="media p-2">
                                    <div class="profile-avatar mr-2">
                                        <img class="avatar-img" src="@Model.Conversation.Recipient.Avatar" alt="@Model.Conversation.Recipient.Name">
                                    </div>

                                    <div class="media-body overflow-hidden">
                                        <div class="d-flex mb-1">
                                            <h6 class="text-truncate mb-0 mr-auto">@Model.Conversation.Recipient.Name</h6>
                                            <p class="small text-muted text-nowrap ml-4">@message.Timestamp</p>
                                        </div>
                                        <div class="text-wrap text-break">@message.Content</div>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
            <form class="form-inline">
                <div class="input-group w-100">
                    <div class="input-group-prepend ">
                        <button class="btn btn-search-ico chat-upload bg-white ">
                            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-card-image" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9c0 .013 0 .027.002.04V12l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094L15 9.499V3.5a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm4.502 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                            </svg>
                        </button>
                    </div>
                    <textarea id="messageInput" type="text" rows="1" class="form-control" placeholder="Type your message..."></textarea>
                    <input id="userInput" type="hidden" name="name" value="ali" />
                    <div class="input-group-append">
                        <button class="btn btn-search-ico bg-white ">
                            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-emoji-smile" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path fill-rule="evenodd" d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683z" />
                                <path d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z" />
                            </svg>
                        </button>
                        <button class="btn btn-search-ico bg-white " id="sendButton" value="Send Message">
                            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-cursor" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    }
    else
    {
        <div class="d-flex justify-content-center align-items-center flex-grow-1 text-center">
            <div>
                <h1 class="display-4">💬</h1>
                <h1>Select a Conversation</h1>
                <p> Try selecting a conversation or searching for someone specific.</p>
            </div>
        </div>
    }
    <div class="col-md-2 border"></div>
</div>


<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>